.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 90vh;
  min-width: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: rgb(16, 16, 16);
  
}
.bdr{
    border: 15px solid rgb(253, 253, 253);
  box-shadow: 1px 1px 10px 10px #048eff;
  position: absolute;
  top: 10%;
  left: 33%;
  margin-top: -50px;
  margin-left: -50px;
  width: 900px;
  height: 1000px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
